.home-2 {
    margin-top: 15px;
}

/* .home-2-i{
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px 20px;
    border-radius: 8px;
} */

/* .home-2-a {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 25%;

} */

.home-2-a:hover {
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

.home-img6 {
    width: 100%;
    margin: auto;
    display: block;
}

.home-img7 {
    width: 100%;
    margin: auto;
    display: block;
}

.home-img8 {
    width: 100%;
    margin: auto;
    display: block;
}

.home-2-b {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
}

.home-2-b .icon-1 {
    font-size: 22px;
    margin-right: 5px;
    color: #29ABE1;
}

.home-2-b p {
    margin-bottom: 0px;
    font-size: 13px;
}